__pycache__
env/*
!env/.gitkeep

*.ipynb_checkpoints
*.mov

train/models
train/summaries
train/UnitySDK.log
train/base_data
train/data
train/debug_data

train/saved*
train/run.sh

unity/*.zip

*.DS_Store

